/* 
    Document   : application
    Created on : 31/12/2011, 02:44:27
    Author     : Herick
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 11px !important;
}